@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --color-ring: hsl(var(--ring));
  --color-input: hsl(var(--input));
  --color-border: hsl(var(--border));
  --color-destructive: hsl(var(--destructive));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-accent: hsl(var(--accent));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-muted: hsl(var(--muted));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary: hsl(var(--primary));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-popover: hsl(var(--popover));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-card: hsl(var(--card));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    --background: 240 10% 98%; /* #fafafa */
    --foreground: 240 10% 3.9%; /* #0a0a0a */

    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 262 80% 58%; /* #6d28d9 */
    --primary-foreground: 262 80% 98%; /* #f5f3ff */

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 262 80% 58%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%; /* #0a0a0a */
    --foreground: 240 5% 95%; /* #f2f2f2 */

    --card: 240 4% 10%; /* #191919 */
    --card-foreground: 240 5% 95%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 240 5% 95%;

    --primary: 262 80% 68%; /* #8b5cf6 */
    --primary-foreground: 262 80% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 240 5% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 240 5% 98%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 3.7% 15.9%; /* #292929 */
    --input: 240 3.7% 15.9%;
    --ring: 262 80% 68%;
  }
}

* {
  @apply border-border outline-ring/50;
}
body {
  @apply bg-background text-foreground;
}
